# Admin App Environment Configuration
NEXT_PUBLIC_API_BASE_URL=/api/proxy
NEXT_PUBLIC_API_URL=http://localhost:3000
REMOTE_API_URL=http://localhost:3000
NEXT_PUBLIC_APP_URL=http://localhost:3002
NEXT_PUBLIC_WEB_URL=http://localhost:3001
